/* ================== BODY DE QUEMSOMOS.CSS =================================== */

/*=================================== MAIN ===================================================*/
main {
    padding-bottom: 5em;
    padding-top: 5em;
}

.item1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cabecalho{font-size: 50px;}

#text{
    font-size: 24px;
    text-align: center;
    max-width: 960px;
}
