
/*=================================== BODY ===================================================*/
main {
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 10em;
}

.lobo0 {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5em;
    padding-left: 17em;
}

.lobo1 {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5em;
    flex-direction: row-reverse;
    padding-top: 7em;
    padding-right: 17em;
}

/* #standardLobo {
    padding-left: 17em;
}

#loboReverse {
    flex-direction: row-reverse;
    padding-top: 7em;
    padding-right: 17em;
} */

.cardContent {
    display: flex ;
    
    flex-direction: column;
    justify-content: space-between;
    
}


.lobo0 > .cardContent > .cardName {
    margin-left: 40px;
}

.lobo1 > .cardContent > .cardName {
    text-align: right;
    margin-right: 40px;
}

.cardName > div > h3 {
    font-weight: 700;
    font-size: 32px;
}

.cardName > p {
    font-size: 16px;
}

.cardDescription0 {
    margin-top: 20px;
    margin-left: 40px;
    padding-right: 12em;
    font-size: 18px;
}

.cardDescription1 {
    margin-top: 20px;
    margin-right: 60px;
    padding-left: 12em;
    font-size: 18px;
    text-align: right;
}
 
.lobo-picture-0 > img {
    width: 450px;
    box-shadow: -35px -35px rgb(44, 86, 126);
}

.lobo-picture-1 > img {
    width: 450px;
    box-shadow: 35px -35px rgb(44, 86, 126);
}


.name-button-0{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-right: 13.5em;
}

.name-button-1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    padding-left: 13.5em;
}

.cardName {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

button.botaoAdotar, button.addLobo{
    background-color: #DEB959;
    height: 40px;
    width: 100px;
    font-size: 20px;
    color: white;
    border: 1px solid transparent;
}


button.botaoAdotar:active{
    background-color: #947c3f
}

/* button.addLobo {
    background-color: #DEB959;
    height: 40px;
    width: 100px;
    font-size: 20px;
    color: white;
    border: 1px solid transparent;

} */
