/*
Theme Name: Lobinho
Author: Luiz Willner
Description: Tarefa IN fim de semana
Version: 1
*/

/* ============================ BODY DE INDEX.HTML ================================*/

/*=============================== PRIMEIRA SEÇÃO ===================================*/

/* Configurações gerais do content da primeira seção (main) */
.first-section {
    background-image: url(img/image_3.png);
    
    background-size: 96em;
    background-position-y: -5em;
    padding: 13em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

/* Configurações do container que abrange o texto e a linha horizontal  */
.small-txt-container {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Configurações gerais do texto da primeira seção (main) */
.section1-txt {
    color: #fff;
    text-align: center;
}

/* Configurações da linha horizontal do meio da sessão*/
.small-txt-container > hr {
    background-color: #fafafa;
    border: 2.5px solid #fafafa;
    width: 11%;
}

/* Configurações específicas do título "Adote um Lobinho" */
#titleSection1Txt {
    font-size: 5em;
    font-weight: 700;
}

/*Configurações específicas do texto pequeno/parágrafo da seção 1*/
#bodySection1Txt {
    font-size: 2em;
    max-width: 22em;
    line-height: 1em;
    right: 19%;
    left: 19%;
    padding-top: 0.5em;
}

/* ================================= SEGUNDA SEÇÃO ======================================== */

/* Configurações gerais do content da segunda seção (main) */
.second-section {
    background-color: #2c567f;
    padding: 7em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Configurações gerais do texto da segunda seção (main) */
.section2-txt {
    text-align: center;
    color: #fff;
}

/* Configurações específicas dos subtítulos. SERVE TBM PRAS OUTRAS SEÇÕES!!! */
.subtitle {
    color:#deb959;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    /* padding-bottom: 1em; */
}

#bodySection2Txt {
    font-size: 1.5em;
    max-width: 40em;
    margin-top: 1em;
}

/*=================================== TERCEIRA SEÇÃO ===================================================*/

/* Configurações gerais do content da terceira seção (main) */
.third-section {
    background-color: #333333;
    padding: 2em;
}

/* Configurações gerais do contenr que abrange o conjunto de todos os valores */
.all-valores {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Configurações dos valores (titulo+imagem+descrição) individualmente */
.valor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*Configurações do container das imagens dos valores*/
.img-valores {
    background-color: white;
    border-radius: 50%;

}

/* Configurações das imagens propriamente ditas */
.teste {
    size: 1%;
}

/* Configurações do título dos valores */
.title-valores {
    color: #fff;
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
}

/* Configurações da descrição dos valroes */
.description-valores {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
    max-width: 10em;
    line-height: 1em;
}

/*=================================== QUARTA SEÇÃO ===================================================*/

.fourth-section {
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10em;
}

.all-lobos {
    padding-top: 5em;
}

.lobo0 {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 17em;
}

.lobo1 {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 7em;
    padding-right: 17em;
}

.cardContent {
    display: flex nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.lobo0 > div > .cardName {
    margin-left: 40px;
}

.lobo1 > div > .cardName {
    text-align: right;
    margin-right: 40px;
}

.cardName > h3 {
    font-weight: 700;
    font-size: 32px;
}

.cardName > p {
    font-size: 16px;
}

.cardDescription0 {
    margin-top: 20px;
    margin-left: 40px;
    padding-right: 12em;
    font-size: 20px;
    font-weight: 600;
}

.cardDescription1 {
    margin-top: 20px;
    margin-right: 60px;
    padding-left: 12em;
    font-size: 20px;
    text-align: right;
    font-weight: 600;
}

.lobo-picture-0 {
    box-shadow: -35px -35px rgb(44, 86, 126);
}

.lobo-picture-1 {
    box-shadow: 35px -35px rgb(44, 86, 126);
}


.lobo-picture-0 > img, .lobo-picture-1 > img{
    width: 450px;
}
