main {
    padding-bottom: 8em;
}

.section-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
h1{
    font-size: 36px;
    padding-top: 1em;
}
.card-show-lobinho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding-top: 3.5em;
}
button{
    color: white;
    width: 180px;
    height: 60px;
}

.botoes-content{
    display: flex;
    padding-top: 2em;
    padding-left: 4em;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

button~button{
    font-size: 25px;
    border: 1px solid transparent;
    background-color: #DE5959;
}

button~button:active{
    background-color: #6e2c2c;
}

#verde{
    font-size: 25px;
    background-color: #7AAC3A;
    border: 1px solid transparent;
}

#verde:active{
    background-color: #466122; 
}

main p {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 25px;
}
img{
    margin-left: 4em;
}
#imgAndshadow {
    max-width: 500px;
    box-shadow: -35px -35px rgb(44, 86, 126);
}

.descricao {
    max-width: 800px;
}

