/*
Theme Name: Lobinho
Author: Luiz Willner
Description: Tarefa IN fim de semana
Version: 1
*/

@import 'css/reset.css';

/*=============================== HEADER ======================*/

/* Configurações do content do header */
.header-content {
    background: rgb(133, 205, 245);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Configurações do texto do header */
a {
    color: rgb(51, 51, 51);
    font-weight: 700;
    font-size: 30px;
}

/* Configurações do hoveres */
.sublinhado{
    display: flex;
    flex-direction:column;
    color: rgb(51, 51, 51);
    font-weight: 700;
    font-size: 30px;
}


.sublinhado:hover::after{
    transition: 4s;
    content: "";
    height: 4px;
    width: 100%;
    background-color: black;
    
}

a:visited{
    color: rgb(51, 51, 51);
}

.accessMain {
    transition: .2s;
}

.accessMain:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


/* Configurações do hoveres */
/* Configurações do container da linha horizontal (embaixo de "Quem Somos") */
section.header-content > div:nth-child(3) > div {
    padding-left: 60px;
}

/* Configurações da linha horizontal propriamente dita*/
section.header-content > div:nth-child(3) > div > hr {
    background-color: #333333;
    border: 2.5px solid;
    border-color: #333333;
}

/*=================================== FOOTER ===================================================*/

footer{
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-right: 4em;

}

.footer-1 {
    display: flex;
}

.all-info {
    padding-left: 2em;
    max-width: 50%;
}

.info {
    display: flex;
    align-items: flex-start;
    padding-top: 1em;
}

button {
    cursor: pointer;
    transition: .1s;
}

#quemsomos {
    cursor: pointer;
    transition: .1s;
    background-color: #deb959;
    border: 1px solid transparent;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

#quemsomos > a {
    color:#333333;
    font-size: 22px;
    font-weight: bold; 
}

#quemsomos:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

#quemsomos:active {
    background-color: #a18641;
}


button:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


.info-txt {
    color: #fff;
    padding-left: 1em;
}

.icon {
    width: 1em;
}

.footer-2 {
    color: #fff;
}

